<li class="list-group-item">
    {{name}}

    <button class="btn change-task" data-id="{{id}}" data-newtask="{{task}}">
        {{#if task}}Complete!{{else}}TO-DO!{{/if}}
    </button>


    <button class="btn delete-task" data-id="{{this.id}}">Remove!</button>
</li>